* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body.light-mode{
    --background-color-header: #e0e0e0;
    --background-color-range: #5a5d68;
    --background-color-hover: #bdbdbd;
    --color-background: #eeeeee;
    --color-menu-container: #fafafa;
    --color-boton-default: #e0e0e0;
    --color-boton-default-hover: #bdbdbd;
    --color-text: #424242;
    --color-placeholder: #1c1c1cbf;
}


:root {
    /* FONT SIZE */
    --font-size12px: 0.75rem;
    --font-size14px: 0.875rem;
    --font-size18px: 1.125rem;
    --font-size26px: 1.625rem;

    /* BORDER RADIUS*/
    --border-radius: 3px;


    /* DARK MODE PALETTE */
    --background-color-header: #191e2b;
    --background-color-range: #5a5d68;
    --background-color-hover: #4e5463f1;
    --color-background: #30343f;
    --color-menu-container: #252935;
    --color-boton-default: #393e49;
    --color-boton-default-hover: #4e5565;
    --color-text: #ffffff;
    --color-placeholder: #ffffffbf;
}

.display-flex-center {
    display: flex;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body, button, select, input, a {
    color: var(--color-text);
}

button {
    font-size: var(--font-size14px);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	height: 36px;
	cursor: pointer;
    background-color: transparent;
    border: transparent;
    outline: none;
    padding: 0 10px;
}

h2 {
    font-size: var(--font-size18px);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: var(--font-size12px);
    text-transform: uppercase;
    margin-bottom: 8px;
}

input:not([type="checkbox"]), .menu-input-line-height, select {
    width: 100%;
    height: 36px;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: var(--color-boton-default);
    border-radius: var(--border-radius);
    border: transparent;
    outline: none;
}

input[type="checkbox"] {
    margin: 0 5px 0 0;
}

label {
    font-size: var(--font-size12px);
    display: block;
}

.menu-bc, .menu-input-colour {
    font-size: var(--font-size14px);
}

i {
    margin-right: 5px;
}


/*    ### HEADER ###    */

header {
    background-color: var(--background-color-header);
    flex-direction: column;
}

.title-page {
    font-size: 1.625rem;
    margin: 10px;
    font-weight: 500;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.menu-buttons button {
    letter-spacing: 0.6px;
    margin: 2.5px;
    padding: 0 10px;
}


/*    ### MAIN ###    */

main {
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--color-background);
    padding: 20px 0;
}

main .meme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 70%;
    margin: 20px 0;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-meme {
    width: 100%;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    font-size: var(--font-size18px);
    font-weight: 800;
    text-transform: uppercase;
    padding: 25px 50px;
    background: #fff;
    color: #000;
}

.img-meme {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    flex-grow: 1;
}

.btn-download-meme {
    background-color: #2e7d32;
    color: #fff;
    margin-top: 30px;
    padding: 15px;
}

.btn-download-meme:hover {
    background-color: #409a44;
}

/*    ### ASIDE ###    */

.btn-close-menu {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 0;
}

.menu-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 15px;
    background-color: var(--color-menu-container);
    box-shadow: -10px 10px 100px 5px rgb(0 0 0 / 30%);
}


/*    ### URL IMAGE ###    */

.menu-editor {
    margin-bottom: 20px;
}


/*    ### BACKGROUND BLEND EFFECT ###    */

.menu-bc-container {
    display: flex;
    justify-content: space-between;
}

.menu-bc {
    width: calc(50% - 5px);
    margin-bottom: 0;
    background-color: var(--color-boton-default);
    border-radius: var(--border-radius);
}

.menu-bc--colour, .menu-input-colour {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 5px 8px;
}

.text-bc-colour, .text-colour, .bc-colour-text {
    text-transform: uppercase;
}

#input-bc-colour, #input-text-colour, #input-bc-colour-text {
    border: #fff;
    background-color: transparent;
    appearance: none;
    width: 22px;
    height: 100%;
    margin: 0 5px 0 0;
    padding: 0;
}

#input-bc-colour::-webkit-color-swatch, #input-text-colour::-webkit-color-swatch, #input-bc-colour-text::-webkit-color-swatch {
    border-radius: 50%;
}

#select-colour-blend {
    width: 100%;
    height: 100%;
    font-size: var(--font-size14px);
    padding: 5px 8px;
    background-color: transparent;
    border: transparent;
}

/*    ### FILTERS ###    */
.menu-control-range {
    margin-top: 18px;
    font-weight: 600;
}

.menu-control-range input {
    display: block;
    appearance: none;
    margin-top: 10px;
    padding: 3.5px 0;
    height: 5px;
    border-radius: 10px;
    background-color: var(--background-color-range);
}

.menu-control-range input::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 15px;
    background: var(--color-text); 
    cursor: pointer;
    -webkit-appearance: none;
}

.btn-reset-filters {
    margin-top: 35px;
    background-color: var(--color-boton-default);
}


/*    ### TEXT EDITOR ###    */
.checkbox {
    display: flex;
    margin-top: 10px;
}

/* TOP & BOTTOM TEXT PLACEHOLDER*/

.input-top-text::placeholder, .input-bottom-text::placeholder {
    color: var(--color-placeholder);
}


/*    ### FONT FAMILY OPTIONS ###    */
.font-family-select {
    font-size: var(--font-size14px);
}


/*    ### FONT SIZE OPTIONS ###    */
.menu-font-size {
    display: flex;
    height: 36px;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.input-font-size {
    /* width: 59%; */
    margin-right: 5px;
}


/*    ### MENU TEXT ALIGN ###    */

.menu-text-align {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.menu-text-align button {
    background-color: var(--color-boton-default);
    padding: 7px 13px;
}

/*    ### FONT COLOR ###    */

.menu-colour-container {
    display: flex;
    justify-content: space-between;
}

.menu-colour {
    display: flex;
    flex-direction: column;
    width: 47%;
}

.menu-input-colour {
    background-color: var(--color-boton-default);
    border-radius: var(--border-radius);
}

.menu-input-colour .input-text-colour::-webkit-color-swatch {
    border: #000;
}


/*     ### FONT OUTLINE ###     */

.menu-outline {
    display: flex;
}

.menu-outline button {
    padding: 10px 15px;
    background-color: var(--color-boton-default);
    border-radius: var(--border-radius);
    margin-right: 6px;
}

/* FOOTER */

footer {
    background-color: var(--background-color-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
}

footer ul li {
    list-style-type: none;
    font-size: var(--font-size18px);
    margin: 0 10px 0 10px;
}

footer p {
    font-size: var(--font-size12px);
}


/* HOVERS AND FOCUS BACKGROUND COLOUR */
.menu-buttons button:hover,
.menu-img-editor button:hover,
.btn-reset-filters:hover,
.menu-bc--colour:hover input,
.menu-bc--colour:hover p,
#select-colour-blend:focus,
#select-colour-blend:hover,
input:focus,
input:hover,
.menu-bc--colour:hover,
.font-family-select:focus,
.font-family-select:hover,
.menu-outline button:hover,
.menu-outline button:focus,
.menu-input-line-height:hover,
.menu-input-line-height:focus,
.menu-text-align button:hover,
.menu-input-colour:hover,
.menu-input-colour:focus {
    background-color: var(--background-color-hover);
}

.outline-light {
    text-shadow: #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px;
}

.outline-dark {
    text-shadow: #000 2px 2px, #000 -2px 2px, #000 2px -2px, #000 -2px -2px;
}

.hidden {
    display: none;
}

.widthTablet {
    padding-right: 280px;
}

.p-absolute {
    position: absolute;
    background-color: transparent;
}

.p-relative {
    position: relative;
}

.p-ab-top {
    top: 0;
}

.p-ab-bottom {
    bottom: 0;
}



/*    ### MEDIA QUERYS ###   */

/* TABLET */

@media (min-width: 701px) and (max-width: 1300px) {
    .title-page {
        font-size: 2.25rem;
    }

    main .meme-container {
        transition: 0.3s;
        max-width: 610px;
        max-height: 610px;
    }

    .menu-container {
        width: 280px;
    }

    .text-meme {
        font-size: 2.188rem;
    }
}



/* DESKTOP */
@media (min-width: 1301px) {
    header, main, footer {
        padding-right: 280px
    }

    header {
        height: 160px;
        justify-content: center;
    }

    .menu-buttons button {
        margin: 4.5px;
        padding: 15px 15px;
        font-size: var(--font-size14px);
    }

    .title-page {
        font-size: 2.5rem;
    }

    main .meme-container {
        transition: 0.3s;
        height: 550px;
        width: 550px;
    }

    .text-meme {
        font-size: 2.5rem;
    }

    .btn-download-meme {
        padding: 25px;
    }

    /* ASIDE */
    .menu-container, .menu-img-editor {
        display: block;
    }
    
    .menu-container .btn-close-menu {
        display: none;
    }

    .menu-container {
        width: 280px;
    }

    h2 {
        font-size: var(--font-size18px);
    }

    h3 {
        font-size: var(--font-size14px);
    }

    .menu-bc, .menu-input-colour {
        font-size: var(--font-size12px);
    }

    footer ul li{
        font-size: var(--font-size18px);
    }

    footer p {
        font-size: var(--font-size14px);
    }
}